.procced {
    background-image: url("https://pixner.net/boleto/demo/assets/images/movie/movie-bg-proceed.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 45px;
    color: white;
    font-size: large;
    opacity: 0.9;
    align-items: center;
}

.procced_wrapper {
    margin-top: 50px;
    padding: 40px;
}

.procced_grn {
    color: rgb(162, 226, 162);
    font-size: xx-large;
    font-weight: bold;
}

.procced_btn a {
    color: white;
    background-image: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);

    border-radius: 20px;
    padding: 15px 20px;
}

@media(max-width:752px) {
    .procced_grn {
        font-size: 18px;
    }

}

@media(max-width:600px) {
    .procced_grn {
        font-size: 16px;
    }

    .text {
        font-size: 14px;
    }
}


@media(max-width:570px) {
    .procced_btn {
        margin-top: 15px;
    }

    .procced_grn {
        font-size: 20px;
    }

    .text {
        font-size: 18px;
    }

    .procced {
        flex-direction: column;
    }
}