.Details_header {
    height: fit-content;

    background-image: url("https://pixner.net/boleto/demo/assets/images/banner/banner03.jpg");
    background-repeat: no-repeat;


    background-size: cover;
    width: 100%;




}

.Details_header .header_wrapper {
    width: 100%;
    display: flex;

    /* padding-top: 140px; */
    padding-left: 50px;
}

.Details_header_img {
    position: relative;
    top: 130px;

}

.Details_header .img_Details {
    width: 96%;
    padding-right: 30px;

    padding-left: 30px;

    color: #9aace5;
    padding-top: 130px;

}

.Details_header_img img {
    height: 330px;
}


.Details_header .img_Details .name {
    font-size: x-large;
    font-weight: bolder;
    color: white;
}

.Details_header .img_Details .foot1 {
    display: flex;

    border-radius: 20px;
}

.Details_header .img_Details .foot {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Details_header .date {
    display: flex;
    align-items: center;

}

.Details_header .time {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.Details_header .icons {

    color: white;
}

.Details_header .icons svg {
    margin-left: 50px;
}

.ratings_wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding-left: 300px;
}

.ratings {
    color: white;

}

.ratings div {
    margin-top: 25px;
}

.ratings .red svg {
    margin-right: 2px;
    color: red;
}

.bookticket .btnn {
    color: #9aace5;
    padding: 10px 15px;
    width: max-content;
    height: fit-content;
    border-radius: 20px;
    background-image: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);


}

.detailsHeader2 {
    background-color: #0a1e5e;
    height: max-content;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px 20px 0px;


}

.ratingRes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.detailsHeader2 .ratings img {
    height: 20px;
}

.genreBtn {
    margin-bottom: 13px;
    border: 1px solid whitesmoke;
    font-size: 13px;
    color: #9aace5;
    text-transform: uppercase;
    padding: 3px 17px;
    border-radius: 18px;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    background-color: inherit;

}










@media(max-width:950px) {
    .Details_header_img {
        display: none;
    }

    .Details_header .img_Details {
        padding-top: 0px;
    }

    .Details_header .header_wrapper {
        top: 0px;
        padding-left: 0px;
    }

    .ratings_wrapper {
        padding-left: 30px;
    }
}

@media(max-width:650px) {
    .Details_header .img_Details .foot {
        display: block;
        padding-bottom: 20px;
    }

    .Details_header .img_Details .foot1 {
        margin-bottom: 10px;
    }
}

@media(max-width:570px) {
    .ratings_wrapper {
        display: block;
    }

    .detailsHeader2 {
        display: block;
    }

    .btnWrapper {
        display: flex;
        justify-content: center;
    }

    .bookticket {
        margin-top: 30px;
    }

}